<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="Global.css" />
    <link type="text/css" rel="stylesheet" href="style.css" />
    <link type="text/css" rel="stylesheet" href="oneInch/oneInch.css" />
  </head>
  <body>
    <div class="section uniswapSection">
      <div class="uniswap">
        <div class="uniswapHead">
          <div class="title">Trade</div>
          <input id="uniswapSettingsTrigger" hidden type="checkbox" />
          <div class="buttons">
            <label for="uniswapSettingsTrigger">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="sc-1ndknrv-0 fZuPAR"
              >
                <circle cx="12" cy="12" r="3"></circle>
                <path
                  d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"
                ></path>
              </svg>
            </label>
          </div>
          <div class="uniswapSettings">
            <h4>Transaction Settings</h4>
            <div class="settingField">
              <div class="pretext">Slippage tolerance</div>
              <input type="text" placeholder="4.00%" />
            </div>
            <div class="settingField">
              <div class="pretext">Transaction deadline</div>
              <input type="text" placeholder="20 minutes" />
            </div>
            <h4>Interface Settings</h4>
            <div class="settingFieldInline">
              <div class="pretext">Toggle Expert Mode</div>
              <input hidden id="toggleExpertMode" type="checkbox" />
              <label
                class="uniswapSettingsSwitch"
                for="toggleExpertMode"
              ></label>
            </div>
            <div class="settingFieldInline">
              <div class="pretext">Disable Multihops</div>
              <input hidden id="disableMultiHops" type="checkbox" />
              <label
                class="uniswapSettingsSwitch"
                for="disableMultiHops"
              ></label>
            </div>
          </div>
        </div>
        <div class="uniswapBody">
          <div class="uniswapFields">
            <div class="uniswapField">
              <div class="uniswapSelector">
                <img
                  class="uniswapSelectorLogo"
                  src="https://assets.coingecko.com/coins/images/4454/thumb/0xbtc.png?1561603765"
                />
                <div class="uniswapSelectorText">0XBTC</div>
                <div class="uniswapSelectorArrow">
                  <svg
                    width="12"
                    height="7"
                    viewBox="0 0 12 7"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="sc-33m4yg-8 khlnVY"
                  >
                    <path
                      d="M0.97168 1L6.20532 6L11.439 1"
                      stroke="#AEAEAE"
                    ></path>
                  </svg>
                </div>
              </div>
              <input class="uniswapTextInput" type="text" placeholder="0.0" />
            </div>
            <div class="uniswapArrow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#6E727D"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <polyline points="19 12 12 19 5 12"></polyline>
              </svg>
            </div>
            <div class="uniswapField">
              <div class="uniswapSelector">
                <img
                  class="uniswapSelectorLogo"
                  src="https://assets.coingecko.com/coins/images/11035/thumb/0xmnr.PNG?1587357680"
                />
                <div class="uniswapSelectorText">0XMR</div>
                <div class="uniswapSelectorArrow">
                  <svg
                    width="12"
                    height="7"
                    viewBox="0 0 12 7"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="sc-33m4yg-8 khlnVY"
                  >
                    <path
                      d="M0.97168 1L6.20532 6L11.439 1"
                      stroke="#AEAEAE"
                    ></path>
                  </svg>
                </div>
              </div>
              <input class="uniswapTextInput" type="text" placeholder="0.0" />
            </div>
          </div>
          <button class="uniswapButton">Connect Wallet</button>
        </div>
      </div>
    </div>

    <div class="section oneInchSection">
      <div class="oneInch">
        <div class="oneInchHead">
          <div class="tabs">
            <a class="active" href="#">Market</a>
            <a href="#">Limit</a>
          </div>
          <div class="buttons">
            <button class="active">
              <svg
                _ngcontent-pho-c255=""
                id="timer"
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 120 120"
              >
                <circle
                  _ngcontent-pho-c255=""
                  cx="60"
                  cy="60"
                  r="50"
                  fill="none"
                  stroke="none"
                  stroke-width="8"
                ></circle>
                <circle
                  _ngcontent-pho-c255=""
                  cx="60"
                  cy="60"
                  r="50"
                  transform="rotate(-90 60 60)"
                  fill="none"
                  stroke-dashoffset="0"
                  stroke-dasharray="314"
                  stroke="currentColor"
                  stroke-width="14"
                ></circle>
              </svg>
            </button>
            <button>
              <svg
                id="refresh"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 12C20 11.4477 19.5523 11 19 11C18.4477 11 18 11.4477 18 12H20ZM12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20V18ZM4 12C4 12.5523 4.44772 13 5 13C5.55228 13 6 12.5523 6 12H4ZM12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4V6ZM18 12C18 15.3137 15.3137 18 12 18V20C16.4183 20 20 16.4183 20 12H18ZM6 12C6 8.68629 8.68629 6 12 6V4C7.58172 4 4 7.58172 4 12H6Z"
                  fill="currentColor"
                />
                <path
                  d="M2.30603 9.50183L4.16593 12.158C4.48271 12.6105 5.10626 12.7204 5.55866 12.4036L8.21488 10.5437"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                />
                <path
                  d="M21.694 14.4982L19.8341 11.842C19.5173 11.3895 18.8937 11.2796 18.4413 11.5964L15.7851 13.4563"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
            </button>
            <button>
              <svg
                id="plus"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8C7.44772 13 7 12.5523 7 12Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 7C12.5523 7 13 7.44772 13 8L13 16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16L11 8C11 7.44772 11.4477 7 12 7Z"
                  fill="currentColor"
                />
              </svg>
            </button>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                id="settings"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <circle
                  cx="17"
                  cy="12"
                  r="2"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                ></circle>
                <circle
                  cx="12"
                  cy="6"
                  r="2"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                ></circle>
                <circle
                  cx="7"
                  cy="18"
                  r="2"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                ></circle>
                <path
                  d="M14 6H22"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M2 6H10"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M2 12H15"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M19 12H22"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M9 18H22"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                ></path>
                <path
                  d="M2 18H5"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="oneInchBody">
          <div class="top">
            <div class="oneInchFieldWrapper">
              <div class="title">You Pay</div>
              <div class="oneInchFieldContainer">
                <div class="top">
                  <div class="left">Ethereum</div>
                  <div class="right">~$3,937.09</div>
                </div>
                <div class="bottom">
                  <div class="left">
                    <div class="logo">
                      <img
                        src="https://tokens.1inch.exchange/0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee.png"
                      />
                    </div>
                    <div class="text">ETH</div>
                    <div class="arrow">
                      <svg
                        width="12"
                        height="7"
                        viewBox="0 0 12 7"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="sc-33m4yg-8 khlnVY"
                      >
                        <path
                          d="M0.97168 1L6.20532 6L11.439 1"
                          stroke="#AEAEAE"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div class="right">
                    <input type="text" value="1" />
                  </div>
                </div>
              </div>
            </div>
            <div class="oneInchFire">
              <img src="https://app.1inch.io/assets/images/loading.png" />
            </div>
            <div class="oneInchFieldWrapper">
              <div class="title">You Receive</div>
              <div class="oneInchFieldContainer">
                <div class="top">
                  <div class="left">Dai Stablecoin</div>
                  <div class="right">~$3,937 (-0.24%)</div>
                </div>
                <div class="bottom">
                  <div class="left">
                    <div class="logo">
                      <img
                        src="https://tokens.1inch.exchange/0x6b175474e89094c44da98b954eedeac495271d0f.png"
                      />
                    </div>
                    <div class="text">DAI</div>
                    <div class="arrow">
                      <svg
                        width="12"
                        height="7"
                        viewBox="0 0 12 7"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="sc-33m4yg-8 khlnVY"
                      >
                        <path
                          d="M0.97168 1L6.20532 6L11.439 1"
                          stroke="#AEAEAE"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div class="right">
                    <input type="text" value="3925.05" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="oneInchButton">
            <img src="https://app.1inch.io/assets/images/icons/connect.svg" />
            Connect Wallet
          </button>
          <div class="oneInchInfo">
            <div class="oneInchInfoLine">
              <span class="left">1 ETH cost</span>
              <div class="right">
                <span>~$3,930</span>
                <span class="important-text">3,926.0699558 DAI</span>
              </div>
            </div>
            <div class="oneInchInfoLine">
              <span class="left">1 DAI cost</span>
              <div class="right">
                <span>~$1</span>
                <span class="important-text">0.0002547 ETH</span>
              </div>
            </div>
            <div class="oneInchInfoLine">
              <span class="left">Transaction cost</span>
              <div class="right">
                <span>~68.27</span>
                <span class="important-text">0.0173 ETH</span>
              </div>
            </div>
          </div>
          <div class="oneInchSwitch">
            <input hidden id="max-return" name="switch" type="radio" checked />
            <label for="max-return">Max return</label>
            <input hidden id="lowest-gas" name="switch" type="radio" />
            <label for="lowest-gas">Lowest gas</label>
            <input hidden id="otc" name="switch" type="radio" />
            <label for="otc">OTC</label>
          </div>
          <div class="oneInchBlockNum">12171137</div>
        </div>
      </div>
    </div>
  </body>
</html>
