.homepage-container {
  //background: linear-gradient(44.76deg, rgb(153, 69, 255) 10.43%, rgb(135, 82, 243) 30.84%, rgb(84, 151, 213) 49.4%, rgb(67, 180, 202) 58.68%, rgb(40, 224, 185) 88%, rgb(25, 251, 155) 95.01%);
  background: linear-gradient(44.76deg, rgb(153, 69, 255) 10.43%, rgb(135, 82, 243) 30.84%, rgb(84, 151, 213) 49.4%, rgb(67, 180, 202) 58.68%, rgb(40, 224, 185) 88%, rgb(25, 251, 155) 95.01%);
  min-height: 100vh;
}
.text-white {
  color: #fff;
}
